
.vscode
*.code-workspace
pkg/*
build
gopkgs
__pycache__
*.pyc
*.rdb
*.swp

*.yin
*.tree
src/translib/ocbinds/ocbinds.go
/debian/
!/debian/changelog
!/debian/compat
!/debian/control
!/debian/rules
!/debian/sonic-mgmt-framework.install
